@import url('https://fonts.googleapis.com/css?family=Architects+Daughter');
.board{
  display: flex;
  width: 600px;
  height:600px;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}

.square{
  height: 200px;
  width: 200px;
  box-sizing: border-box;
  border: 2px solid rgba(58, 58, 58, 0.42);
  display:flex;
  font-size:5em;
  justify-content: center;
  font-family: 'Architects Daughter', cursive;
}

#player_Symbol{
  color:blue;
}

#player_Symbol2{
  color:red;
}

.square:hover{
  background-color: whitesmoke;

}
